:root{
    --height-search: 46px;
    --width-search-btn: 52px;
}

.wrapper{
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: 60px;
    display: flex;
    justify-content: center;
}

.inner{
    width: 1150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 350px;
    background-color: #f1f1f2;
    height: var(--height-search);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    position: relative;
    input{
        flex: 1;
        outline: none;
        border: none;
        background-color: transparent;
        height: 100%;
        caret-color:  rgb(254, 44, 85);
        font-size: 16px;
        font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        &:not(:placeholder-shown) ~ .search-btn{
            color: rgba(22, 24, 35, .75);

        }
        
    }
    &:focus-within{
            border-color: var(--primary);
    }
    
}
.clear-btn,
.loadding {
    position: absolute;
    right: calc(var(--width-search-btn) + 18px);
    color: rgba(22, 24, 35, .34) ;
    font-size: 18px;
    cursor: pointer;
}
.search-btn {
    width: var(--width-search-btn);
    height: var(--height-search);
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    position: relative;
    color: rgba(22, 24, 35, .34);
    font-size: 2rem;
    cursor: pointer;
    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
    &::before{
        content: '';
        position: absolute;
        background-color: rgba(22, 24, 35, .12);
        width: 1px;
        height: calc(var(--height-search) - 18px);
        left: 0;
        right: 9px;
        top: 9px;
    }
    &:active{
        background-color: rgba(22, 24, 35, .06);;
    }
}
