.option{
    margin-top: 5px;
    // margin-right: 150px;
    &::before{
        content: "";
        position: absolute;
        top: 0px;
        right: 10px;
        width: 0;
        height: 0;
        box-shadow: 2px -2px 6px rgb(0 0 0 / 5%);
        border-top: 6px solid #ffffff;
        border-right: 6px solid #ffffff;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        transform: rotate(-45deg);
    }
}

.menu-items {
    button, a{
        font-weight: 500;
        display: block;
        width: 100%;
        // max-width: 500px;
        margin-left: 0;
        text-align: left;
        padding-inline: 22px;
        
        &:hover{
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
    // padding: 10px;
    // &:first-child{
    //     margin-left: 18px;
    // }
}