.acounts{
    display: flex;
    padding: 10px;
    padding-left: 15px;
    height: 60px;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        line-height: 40px;
    }
    .info{
        margin-left: 15px;
        .name{
            font-size: 15px;
            font-weight: 600px;
        }
        .username{
            font-size: 13px;
            padding-bottom: 5px;
            color: rgba(22, 24, 35, 0.5);;
        }
        .check{
            color: rgb(32, 213, 236);
            margin-left: 6px;
        }
    }
    
}

