.wrapper-sidebar{
    width: 23%;
    // background-color: #ccc;
    position: fixed;
    overflow: hidden;
    transition: overflow 0.5s ease-in-out;
    height: 100%;
    padding-top: 1%;
    margin-top: 60px;
    top: 0;
    &:hover{
        overflow: auto;
    }
    &::-webkit-scrollbar-track
    {
        background-color: #fff;
    }

    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #f1f1f2;
        border: 2px solid transparent;
        border-radius: 20px;
    }
    // .menu-sidebar{
    //     margin-left: -10px;
    // }
    .menu-sidebar button{
        width: 100%;
    }
    svg{
        margin-left: 10px;
    }
    .menu-sidebar button, a{
        padding: 8px;
        height: 48px;
        margin-left: -10px;
        font-size: 18px;
        font-weight: 700;
    }
    .icon-home{
        width: 32px;
        height: 32px;
    }
    .active {
        button, a{
            color: var(--primary);
        }
        .icon{
            display: none;
        }
        .icon-active{
            display: block;
        }
        // svg{
        //     color: var(--primary);
        // }
    }
    .icon-active{
        display: none;
    }
    .nav-link-sidebar{
        padding: 0;
        margin: 0;
    }
}
.content{
    height: 1000px;
}