:root{
    --height-btn: 36px;
}
.wrraper{
    font-size: 16px;
    width: auto;
    height: var(--height-btn);
    // padding: 6px 6px;
    font-weight: 600;
    border: 1px solid transparent;
    color: black;
    display: flex;
    
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;
    position: relative;
    align-items: center;
    // hai nút đứng canh nhau cách trái 16px
    // + .wrraper{
    //     margin-left: 16px;
    // }
    .icon-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-button{
        margin-left: 8px;
        margin-right: 8px;
        
    }
    .icon-left svg{
        min-width: 20px;
        
    }
    .icon-right{
    
        align-items: center;
        justify-content: center;
    }
    .custom svg{
        font-size: 10px;
        color: #10eb1b;
    }
    
    
    // background-color: var(--primary);
}
.primary{
    background-color: var(--primary);
    color: #fff;
    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}
.outline{
    color: var(--primary);
    border-color: currentColor;
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.border{
    border: 1px solid rgba(22, 24, 35, 0.12);
}
.small{
    height: 28px;
    .title-button{
        font-weight: 600;
        
    }
}
.padding{
    padding-left: 18px;
    padding-right: 10px;
}
.hover{
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}