.warrap-video{
    width: 100%;
    hr{
        margin-bottom: 20px;
        margin-top: 30px;
        color: rgb(255, 255, 255);
        opacity: 0.2;
    }
    .header{
        .info-video-account{
            display: flex;
            .avatar-user{
                max-width: 56px;
                min-width: 56px;
                height: 56px;
                border-radius: 56px;
                object-fit: cover;
                cursor: pointer;
            }
            .info-account{
                margin-left: 15px;
                flex: 1;
                a{
                    font-weight: 600;
                }
                .name{
                    h3{
                        width: auto;
                        display: inline-block;
                        // border-bottom: 2px solid  rgb(0, 0, 0);
                        &:hover{

                            text-decoration: underline;
                        }
                    }
                    span{
                        margin-left: 5px;
                        font-weight: 400;
                        font-size: 14px;
                        color: rgb(94, 93, 93);
                    }
                }
                .decription{
                    margin-top: 5px;
                    margin-bottom: 7px;
                    color: rgb(119, 121, 122);
                    a:hover{
                        text-decoration: underline;
                    }
                    // font-size: 16px;
                }
                .music-video{
                    display: flex;
                    // .icon-music{

                    // }
                    span{
                        font-weight: 600;
                        // line-height: 1rem;
                        align-items: center;
                        margin-left: 5px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }
    }
    .video-content{
        display: flex;
        width: 100%;
        min-width: calc(383.33333px + 8.68056vw);
        .player-video{
            max-height: calc(383.33333px + 8.68056vw);
            height: auto;
        }
        .interactive-space{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            //label-heart
            .interactive-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                //button
                .btn-heart{
                    background-color: rgba(22,24,35,.06);
                    border-radius: 48px;
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                    svg{
                        width: 24px;
                        height: 24px;
                    }
                }
                //strong
                strong{
                    color: var(--text-gray-color);
                    font-size: 1.2rem;
                    line-height: 17px;
                    white-space: nowrap;
                    margin-top: 5px;
                }
            }
        }
    }
    
}